.innerBoxContainer{
    display: flex;

    flex-direction: column;
    border: 0px;
}
.Box{
    width: 1fr;
    height:fit-content;
    border: 0px;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    background:rgb(222, 244, 255);

}